\#*
*~
.#*
.DS_Store
.idea
.localeapp/locales
.project
.vscode
coverage
default
Gemfile.lock
tmp
nbproject
pkg
*.sw?
spec/test_app
spec/dummy
.rvmrc
.sass-cache
public/spree
.ruby-version
.ruby-gemset
gemfiles/*.gemfile.lock
